html { 
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none ;
  background-origin: padding-box ;
  background-position-x: 0% ;
  background-position-y: 0% ;
  background-repeat-x: ;
  background-repeat-y: ;
  background-size: auto ;
  color: rgb(34, 34, 34) ;
  display: block ;
  font-family: "EB Garamond", serif ;
  font-kerning: normal ;
  font-size: 18.88px ;
  font-stretch: 50% ;
  font-style: normal ;
  font-variant-caps: normal ;
  font-variant-east-asian: normal ;
  font-variant-ligatures: no-common-ligatures ;
  font-variant-numeric: proportional-nums slashed-zero ;
  height: 613px ;
  line-height: 28.32px ;
  margin-bottom: 0px ;
  margin-left: 0px ;
  margin-right: 0px ;
  margin-top: 0px ;
  overflow-x: hidden ;
  overflow-y: hidden ;
  text-rendering: geometricprecision ;
  width: 472px;
}