<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&amp;text=MdwthBbokizAalne.&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Berkshire+Swash&amp;display=swap"
    rel="stylesheet">

  <title>Running h2s @pagify…</title>

  BOOK_HEAD_TEMPLATE

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
    BOOK_LAYOUT_TEMPLATE
  </style>
  <style>
    .leaf {
      background-color: antiquewhite;
    }
    .inner {
      background-color: aliceblue;
    }
  </style>
</head>

<body>
  <div class="leaf flex">
    <div class="inner justify">
      PAGE_INNER_HTML
    </div>
  </div>
</body>

</html>